<div id="skills" class="descOpp">
	<h3 class="headers"> Proficient </h3>
	<p class="descp"> Web development - Ruby on Rails</p>
	<ul>
		<li>Frontend: HTML, CSS, JQuery, JavaScript</li>
		<li>Backend/Deployment: SQL, Heroku, AWS</li>
	</ul>
	<p class="descp">Java</p>
	<h3 class="headers"> Beginner Advanced </h3>
	<p class="descp"> Android Programming</p>
	<p class="descp"> Online marketing</p>
	<span class="note">*Check out my projects!</span>
</div>
<div id="experience" class="descOpp hidden">

	<a href="http://www.salauno.com.mx/" target="_blank"><h3 class="headers">SalaUno</h3></a>
	<p class="descp"> 40 person eye care social venture <i>(June 2013 – August 2013)</i></p>
	<ul>
		<li>Responsible for improvement and implementation of Netsuite, a CRM and ERP system.</li>
		<li>Created flow diagrams on VISIO by observing and mapping out check-up and surgical processes.</li>
	</ul>
	<a href="http://www.jatalo.com" target="_blank"><h3 class="headers">Jatalo</h3></a>
	<p class="descp"> Philanthropic backpack company, 3 person social venture <i>(February 2012 – June 2013)</i></p>
	<ul>
		<li>Managed overall on-line marketing strategy.</li>
		<li>Oversaw social media platforms and partnerships with affiliate websites.</li>
	</ul>
</div>

<div id="activities" class="descOpp hidden">
	<a href="http://www.kairossociety.org/" target="_blank"><h3 class="headers">Kairos Society</h3></a>
	<p class="descp"> Works to find and empower the young pioneers who will push the world forward through entrepreneurship and innovation</p>
	<ul>
		<li>Currently launching new mentorship program for Berkeley Chapter.</li>
	</ul>
</div>

<div id="academics" class="descOpp hidden">
	<a href="http://www.berkeley.edu/index.html" target="_blank"><h3 class="headers">University of California Berkeley</h3></a>
	<p class="descp">Entering my 3rd undergraduate year on August 2014</p>
	<ul>
		<li>B.S. Business Administration</li>
		<li>Intended B.A. Computer Science</li>
		<li>GPA: 3.7 </li>
		<li>Graduation May 2016</li>
	</ul>
	<a href="http://www.rowlandhs.org/" target="_blank"><h3 class="headers">John A. Rowland High School </h3></a>
	<p class="descp">Graduated June 2013</p>
</div>