<div class="full">
	<div> 
	<span class="happy">
		<div class="holder">
			<span class="large-letter-selected-m">M</span>
			<span class="text">y</span>
		</div>
		<div class="holder">
			<span class="large-letter-selected">A</span>
			<span class="text">bout</span>
		</div>
		<div class="holder">
				<span class="large-letter-selected">R</span>
				<span class="text">esume</span>
		</div>
	</div>
	

	</span>
<!-- 	<span class="happy2">
		<span class="text">bout</span>
		<span class="text">esume</span>
	</span> -->
	<span class="firstname">DERRICK</span>
</div>
